body {
  background: url("img/space.jpg");
  font-family: Tahoma;
  font-size: 20px;
  margin-top: 0;
  margin-left: 0;
}

h1 {
  text-align: center;
  color: white;
}
p {
  color: blue;
}

h2 {
  color: red;

}
ul {
  color: yellow;
}
ol {
  color: white;
}
h3 {
  color: cyan;
  margin-left: 10px;
}
.container {
  width:900px;
  margin: 2em auto;
}
